<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'seminar3/css/bootstrap.min.css' %}">
    <title>{% block title %}Главная{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show justify-content-end align-items-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/about/">О себе</a>
            </div>
        </div>
    </div>
</nav>

{% block content %}
    <h1>Добро пожаловать на главную страницу сайта!</h1>
    <p>
        Сегодняшняя дата: {{ date }}
    </p>
{% endblock %}

<div class="row fixed-bottom modal-footer">
    <hr>
    <p>Все права защищены &copy;</p>
</div>

<script src="{% static 'seminar3/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>